/* Index.css  */
body {
  margin: 0;
  background-image: url('/src/images/image3.jpg');
  background-size: cover;
  z-index: -1;
  position: relative;
  font-family: Arial, sans-serif;
}

.white-text {
  color: white;
}

/* About Us.css */
.About-Us {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 110px;
  color: white;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.-text {
  color: white;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .best-sold-cars,
  .About-Us {
    position: static;
    background-color: rgba(0, 0, 0, 0.7);;
    padding: 20px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
  }
}
